@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import 'header.css';
@import 'footer.css';

:root {
    --text-50: oklch(97.31% 0.033 150.86);
    --text-100: oklch(94.83% 0.065 149.71);
    --text-200: oklch(90.49% 0.131 148.7);
    --text-300: oklch(86.78% 0.188 147.19);
    --text-400: oklch(84.17% 0.236 145.6);
    --text-500: oklch(82.22% 0.264 143.9);
    --text-600: oklch(69.68% 0.222 144.06);
    --text-700: oklch(56.27% 0.178 144.22);
    --text-800: oklch(42.31% 0.131 144.56);
    --text-900: oklch(26.74% 0.077 145.66);
    --text-950: oklch(18.41% 0.049 146.87);

    --background-50: oklch(95.86% 0.011 252.09);
    --background-100: oklch(91.87% 0.022 245.86);
    --background-200: oklch(83.5% 0.045 249.41);
    --background-300: oklch(74.98% 0.07 249.44);
    --background-400: oklch(66.76% 0.094 249.39);
    --background-500: oklch(58.44% 0.118 250.86);
    --background-600: oklch(49.93% 0.099 250.43);
    --background-700: oklch(40.8% 0.079 250.88);
    --background-800: oklch(31.39% 0.057 250.09);
    --background-900: oklch(20.92% 0.031 251.36);
    --background-950: oklch(15.46% 0.018 243);

    --primary-50: oklch(97.6% 0.022 200.26);
    --primary-100: oklch(95.39% 0.042 200.11);
    --primary-200: oklch(91.28% 0.081 200.67);
    --primary-300: oklch(88.04% 0.111 199.58);
    --primary-400: oklch(85.25% 0.132 200.44);
    --primary-500: oklch(83.11% 0.14 201.16);
    --primary-600: oklch(70.4% 0.118 201.22);
    --primary-700: oklch(57.07% 0.095 200.41);
    --primary-800: oklch(42.65% 0.07 201.61);
    --primary-900: oklch(27.14% 0.043 199.85);
    --primary-950: oklch(18.73% 0.029 199.05);

    --secondary-50: oklch(97.75% 0.023 190.19);
    --secondary-100: oklch(95.66% 0.045 187.8);
    --secondary-200: oklch(92.07% 0.086 186.71);
    --secondary-300: oklch(88.93% 0.118 185.25);
    --secondary-400: oklch(86.69% 0.141 183.07);
    --secondary-500: oklch(84.94% 0.151 181.49);
    --secondary-600: oklch(71.95% 0.128 181.06);
    --secondary-700: oklch(58.11% 0.102 181.86);
    --secondary-800: oklch(43.68% 0.076 182.35);
    --secondary-900: oklch(27.56% 0.046 183.34);
    --secondary-950: oklch(18.93% 0.03 183.47);

    --accent-50: oklch(97.34% 0.032 152.47);
    --accent-100: oklch(94.88% 0.063 151.27);
    --accent-200: oklch(90.4% 0.125 149.95);
    --accent-300: oklch(86.89% 0.182 148.64);
    --accent-400: oklch(84.04% 0.227 146.69);
    --accent-500: oklch(82.04% 0.257 144.69);
    --accent-600: oklch(69.48% 0.216 144.84);
    --accent-700: oklch(56.33% 0.173 145.07);
    --accent-800: oklch(42.05% 0.126 145.32);
    --accent-900: oklch(26.76% 0.075 146.63);
    --accent-950: oklch(18.46% 0.046 149.74);

    --font-sans: 'Sansation';
    --font-display: 'Audiowide';

    --border: rgba(255, 255, 255, 0.2);
    --border-active: rgba(255, 255, 255, 0.4);

    --breakpoint-sm: 800px;
}

html {
    color-scheme: dark;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus-visible {
    outline: 2px solid var(--accent-300);
    outline-offset: 2px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-900);
    color: var(--text-50);
    font-family: var(--font-sans);
    font-size: 16px;
    min-height: 100svh;
}

main {
    flex-grow: 1;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 16px;
}

a {
    color: currentColor;
    text-decoration: none;
    transition: 0.2s ease opacity;
    &:hover {
        opacity: 0.5;
    }
}

ul,
ol {
    list-style: none;
}

/* Clears the 'X' from Internet Explorer */
input[type='search']::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
/* Also removes the magnifying glass icon in IE */
input[type='search']::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* Clears the 'X' from Chrome, Safari, and other WebKit/Blink browsers */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

input,
button {
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    min-width: none;
    min-height: none;
}

button,
a {
    cursor: pointer;
}

.logo {
    --_size: var(--size, 44px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0 4px;
    border-radius: 4px;

    font-family: var(--font-display);
    font-size: calc(var(--_size) * 0.75);
    span {
        transform: skewX(-10deg);
    }

    img {
        width: var(--_size);
        height: var(--_size);
    }
}

.product-image {
    display: grid;
    place-items: center;
    > img {
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.5));
    }
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 4px;
    width: 250px;
    flex-shrink: 0;
    height: 220px;
    /* background-color: color-mix(in srgb, var(--primary-500) 10%, transparent); */
    background-image: linear-gradient(
        to top,
        color-mix(in srgb, var(--primary-500) 10%, transparent),
        transparent
    );
    border-radius: 4px;
    padding: 12px;
    border: 1px solid var(--border);

    .product-image {
        padding: 8px 0;
    }

    .name {
        font-size: 18px;
        /* white-space: nowrap; */
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        opacity: 0.75;
    }

    .price {
        font-weight: bold;
        font-size: 24px;
    }
}
