main {
    h2 {
        font-size: 18px;
    }
    > section {
        h2 {
            margin-bottom: 8px;
        }
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    .product-categories {
        display: flex;
        flex-direction: row;
        gap: 8px;
        overflow-x: auto;
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;
            padding: 8px;
            background-image: radial-gradient(
              at top,
                color-mix(in srgb, var(--secondary-800) 20%, transparent),
                transparent
            );
            background-size: 200%;
            background-position: center;
            border-radius: 4px;
            border: 1px solid var(--border);
            aspect-ratio: 1/1;
            width: 120px;
            height: 100%;
            text-align: center;
            > div {
                opacity: 0.8;
                font-weight: 600;
            }
            img {
                width: 50px;
                height: 50px;
            }
        }
    }

    .home-recommended {
        display: flex;
        gap: 8px;
        overflow: auto;
    }
}
