main {
    padding: 24px;

    .product-container {
        display: flex;
        gap: 24px;
        margin: 0 auto;

        @media (max-width: 800px) {
            flex-direction: column;
        }

        .product-image {
            flex-shrink: 0;
            margin: auto;
            max-width: 500px;
            width: 100%;
            img {
                position: relative;
                width: 100%;
                border-radius: 8px;
                padding: 16px;
                border: 1px solid var(--border);
            }
        }

        .product-info {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 24px;

            .product-details {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .product-name {
                    font-size: 32px;
                    font-weight: 700;
                    margin: 0;
                }

                .product-manufacturer {
                    font-size: 18px;
                    color: var(--text-secondary);
                }

                .product-price {
                    font-size: 24px;
                    font-weight: 600;
                    color: var(--accent-300);
                }

                .product-description {
                    margin-top: 16px;
                    line-height: 1.6;
                }
            }

            .product-controls {
                border: 1px solid var(--border);
                border-radius: 8px;
                padding: 24px;
                display: flex;
                flex-direction: column;
                gap: 16px;

                p {
                    font-weight: 600;
                }

                .amount-controls {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    button {
                        display: grid;
                        place-items: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 4px;
                        border: 1px solid var(--border);
                        background-color: transparent;
                        color: var(--text);
                        cursor: pointer;
                        transition: 0.2s ease background-color;

                        &:hover {
                            background-color: color-mix(in srgb, var(--border) 50%, transparent);
                        }
                    }

                    input[type='number'] {
                        width: 60px;
                        height: 40px;
                        text-align: center;
                        border-radius: 4px;
                        border: 1px solid var(--border);
                        background-color: var(--background-900);
                        color: var(--text);
                        -moz-appearance: textfield;
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                }

                .subtotal {
                    display: flex;
                    justify-content: space-between;
                    align-items: end;
                    font-size: 20px;
                    padding-top: 16px;
                    border-top: 1px solid var(--border);

                    .label {
                        font-size: 14px;
                        opacity: 0.75;
                    }

                    .price {
                        font-weight: 700;
                    }
                }

                .add-to-cart {
                    padding: 12px 24px;
                    border-radius: 4px;
                    border: 1px solid var(--border);
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;
                    transition: 0.2s ease;
                    background-image: radial-gradient(
                        ellipse farthest-corner at top center,
                        color-mix(in srgb, var(--accent-400) 0%, transparent),
                        color-mix(in srgb, var(--accent-400) 25%, transparent)
                    );

                    &:hover {
                        background-color: color-mix(in srgb, var(--accent-400) 5%, transparent);
                        color: var(--accent-200);
                    }
                }
            }
        }
    }
}
