main {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 16px;
    .filters {
        flex: 1 1 0; /* grow, shrink, preferred width */
        border-radius: 4px;
        border: 1px solid var(--border);

        /* max-width: 300px; */
        width: 100%;
    }

    details {
        summary {
            padding: 12px 16px;
            font-weight: bold;
            cursor: pointer;
            background-image: radial-gradient(
                ellipse farthest-corner at top left,
                color-mix(in srgb, var(--secondary-400) 0%, transparent),
                color-mix(in srgb, var(--secondary-400) 15%, transparent)
            );
        }
        .content {
            background-color: color-mix(in srgb, var(--secondary-400) 5%, transparent);
            padding: 12px 16px;

            input[type='checkbox'] {
                margin-right: 0.5em;
            }

            li:not(:last-child) {
                margin-bottom: 0.25em;
            }

            label {
                display: block;
                cursor: pointer;
                color: color-mix(in srgb, currentColor 80%, transparent);
            }
        }
    }

    .search-results {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}
