main {
    display: flex;
    align-items: start;
    gap: 16px;

    .filters {
        @media not (max-width: 800px) {
            max-width: 300px;
        }
        width: 100%;
        border-radius: 4px;
        border: 1px solid var(--border);
    }

    @media (max-width: 800px) {
        flex-direction: column;
    }

    details {
        summary {
            position: relative;
            padding: 12px 16px;
            font-weight: bold;
            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;

                opacity: 0.5;
                background-image: radial-gradient(
                    ellipse farthest-corner at top left,
                    color-mix(in srgb, var(--secondary-400) 0%, transparent),
                    color-mix(in srgb, var(--secondary-400) 25%, transparent)
                );
                transition: 0.2s ease;
            }

            &:hover::before {
                opacity: 1;
            }

            .filter-count {
                float: right;
                background-color: var(--accent-300);
                color: var(--background-950);
                padding: 2px 8px;
                border-radius: 16px;
                font-size: 0.8em;
            }
        }
        .content {
            background-color: color-mix(in srgb, var(--secondary-400) 5%, transparent);
            padding: 12px 16px;

            input[type='checkbox'] {
                margin-right: 0.5em;
            }

            li:not(:last-child) {
                margin-bottom: 0.25em;
            }

            label {
                display: block;
                cursor: pointer;
                color: color-mix(in srgb, currentColor 80%, transparent);
            }
        }
    }

    .results-area {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .results-summary {
        font-size: 24px;
        font-weight: 600;
    }

    .search-results {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        button {
            display: grid;
            place-items: center;
            width: 40px;
            height: 40px;
            border-radius: 4px;
            border: 1px solid var(--border);
            transition: 0.2s ease background-color;

            &:hover:not(:disabled) {
                background-color: var(--background-800);
            }

            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }
}
