main {
    max-width: 800px;
    > * {
        margin-bottom: 1.5em;
        line-height: 1.5em;
    }
    > img {
        display: block;
        width: 100%;
        border-radius: 16px;
        text-align: center;
        margin: auto;
        margin-bottom: 2em;
    }
    h1,
    h2 {
        font-family: var(--font-display);
        margin: 0;
        margin-bottom: 1em;
    }
    ol {
        list-style-type: decimal;
    }
    ul {
        list-style-type: disc;
    }
    ol,
    ul {
        margin-left: 2em;
    }
    li {
        margin-bottom: 1em;
    }
}
